.linear-background {
    background: linear-gradient(to right, #0b88c0 0%,#112e7a 100%,#207cca 100%);
}

.introduction {
    font-size: 2.5vw;
    text-align: left;
    display: block;
    margin-bottom: 0rem;
}