.linear-background {
    background: linear-gradient(to right, #0b88c0 0%,#112e7a 100%,#207cca 100%);
}

.introduction-wexp {
    Width: 60%;
    font-size: 2.5vw;
    text-align: left;
    display: block;
    margin-bottom: 0rem;
}

/* .row.row-grid > [class*="col-"] + [class*="col-"] {
	margin-top: 3rem;
}

.align-items-center {
	align-items: center !important;
}

.shadow-lg--hover:hover {
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.border-0 {
	border: 0 !important;
}

.text-center {
	text-align: center !important;
}

.rounded {
	border-radius: 0.25rem !important;
}

.text-white {
	color: #fff !important;
}

.py-5 {
	padding-top: 3rem !important;
}

.py-5 {
	padding-bottom: 3rem !important;
}

.bg-white {
	background-color: #fff !important;
}

.rounded-circle {
	border-radius: 50% !important;
}

.mb-3,
.my-3 {
	margin-bottom: 1rem !important;
}

.shadow,
.profile-page .card-profile .card-profile-image img {
	box-shadow: 0 1% 3% rgba(50, 50, 93, 0.1),
		0 1% 3% rgba(0, 0, 0, 0.07) !important;
}

.img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.shadow-lg {
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.description {
	font-size: 0.875rem;
}

.text-left {
	text-align: left !important;
}

.row-grid + .row-grid {
	margin-top: 3rem;
}

.section {
	position: relative;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.section-lg {
	padding-top: 6rem;
	padding-bottom: 6rem;
}

.card-body {
    -moz-box-flex: 1;
    flex: 1 1 auto;
    padding: 1.5rem;
}

.card {
    position: relative;
} */
